<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-roomTypeName>Controller</servlet-roomTypeName>
        <servlet-class>by.kanarski.booking.controllers.Controller</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-roomTypeName>Controller</servlet-roomTypeName>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>10000</session-timeout>
    </session-config>

    <filter>
        <filter-roomTypeName>EncodingFilter</filter-roomTypeName>
        <filter-class>by.kanarski.booking.filters.EncodingFilter</filter-class>
        <init-param>
            <param-roomTypeName>requestEncoding</param-roomTypeName>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-roomTypeName>EncodingFilter</filter-roomTypeName>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-roomTypeName>LocalizationFilter</filter-roomTypeName>
        <filter-class>by.kanarski.booking.filters.LocalizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-roomTypeName>LocalizationFilter</filter-roomTypeName>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-roomTypeName>AuthorizationFilter</filter-roomTypeName>
        <filter-class>by.kanarski.booking.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-roomTypeName>AuthorizationFilter</filter-roomTypeName>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--<filter>-->
    <!--<filter-roomTypeName>SecurityFilter</filter-roomTypeName>-->
    <!--<filter-class>filters.SecurityFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-roomTypeName>SecurityFilter</filter-roomTypeName>-->
    <!--<servlet-roomTypeName>Controller</servlet-roomTypeName>-->
    <!--</filter-mapping>-->

    <!--<listener>-->
        <!--<listener-class>by.kanarski.booking.listeners.LocaleListener</listener-class>-->
    <!--</listener>-->

    <error-page>
        <hotelLocation>/WEB-INF/assets/pages/error/error.jsp</hotelLocation>
    </error-page>

    <welcome-file-list>
        <welcome-file>assets/pages/index.jsp</welcome-file>
    </welcome-file-list>


</web-app>